<h2>新しいタスクを作成</h2>

<%= form_with(model: [@doctor, @patient, @task], local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title_id, "タイトル" %>
    <%= f.collection_select(:title_id, Title.all, :id, :name, {}) %>
  </div>

  <div class="form-group">
    <%= f.label :occupation_id, "職種" %>
    <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {}) %>
  </div>

  <div class="form-group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, "PHS" %>
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="form-group">
    <%= f.label :content, "内容" %>
    <%= f.text_area :content %>
  </div>

  <div class="form-group">
    <%= f.submit "作成" %>
  </div>
<% end %>
