<div class="sort-buttons">
  <button class="btn all-patients-btn" onclick="showAllPatients()">患者一覧</button>
  <button class="btn ward-btn" onclick="sortPatients('ward')">病棟</button>
  <button class="btn department-btn" onclick="sortPatients('department')">診療科</button>
  <button class="btn doctor-btn" onclick="sortPatients('doctor')">医師</button>
</div>

<div class="patient-list">
  <% @patients.each do |patient| %>
    <%= link_to doctor_patient_path(patient.doctor, patient), class: "patient-card-link" do %>
        <div class="patient-card">
          <!-- 患者アイコンの条件分岐 -->
          <div class="icon">
            <% age = ((Time.zone.now - patient.birthday.to_time) / 1.year.seconds).floor %>
            <% if age <= 15 %>
              <% if patient.gender_id == 2 %> 
                <%= image_tag 'boy.png', alt: '15歳以下 男性', class: 'patient-icon' %>
              <% else %>
                <%= image_tag 'girl.png', alt: '15歳以下 女性', class: 'patient-icon' %>
              <% end %>
            <% elsif age <= 64 %>
              <% if patient.gender_id == 2 %>
                <%= image_tag 'man.png', alt: '16歳〜64歳 男性', class: 'patient-icon' %>
              <% else %>
                <%= image_tag 'woman.png', alt: '16歳〜64歳 女性', class: 'patient-icon' %>
              <% end %>
            <% else %>
              <% if patient.gender_id == 2 %>
                <%= image_tag 'oldman.png', alt: '65歳以上 男性', class: 'patient-icon' %>
              <% else %>
                <%= image_tag 'oldwoman.png', alt: '65歳以上 女性', class: 'patient-icon' %>
              <% end %>
            <% end %>
          </div>
          <div class="patient-details">
            <p>患者ID: <%= patient.number %></p>
            <p>患者名: <%= patient.name %></p>
            <p>生年月日: <%= patient.birthday.strftime('%Y年%m月%d日') %></p>
            <p>年齢: <%= (Date.today.year - patient.birthday.year) - ((Date.today.month > patient.birthday.month || (Date.today.month == patient.birthday.month && Date.today.day >= patient.birthday.day)) ? 0 : 1) %>歳</p>
            <p>性別: <%= patient.gender.name %></p>
            <p>診療科: <%= patient.department.name %></p>
            <p>主治医: <%= patient.doctor.name %></p>
            <p>病棟: <%= patient.ward.name %></p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
