<div class="main-container">
  <!-- 左側のコンテンツ -->
  <div class="left-side">
    <!-- 患者一覧へ戻るボタン -->
    <div class="back-button">
      <%= link_to '患者一覧へ戻る', doctor_patients_path(@doctor), class: 'back-button-link' %>
    </div>
    <!-- 患者情報 -->
    <div class="patient-info">
      <!-- 患者アイコンの条件分岐 -->
      <div class="icon">
        <% age = ((Time.zone.now - @patient.birthday.to_time) / 1.year.seconds).floor %>
        <% if age <= 15 %>
          <% if @patient.gender_id == 2 %> 
            <%= image_tag 'boy.png', alt: '15歳以下 男性', class: 'patient-icon' %>
          <% else %>
            <%= image_tag 'girl.png', alt: '15歳以下 女性', class: 'patient-icon' %>
          <% end %>
        <% elsif age <= 64 %>
          <% if @patient.gender_id == 2 %>
            <%= image_tag 'man.png', alt: '16歳〜64歳 男性', class: 'patient-icon' %>
          <% else %>
            <%= image_tag 'woman.png', alt: '16歳〜64歳 女性', class: 'patient-icon' %>
          <% end %>
        <% else %>
          <% if @patient.gender_id == 2 %>
            <%= image_tag 'oldman.png', alt: '65歳以上 男性', class: 'patient-icon' %>
          <% else %>
            <%= image_tag 'oldwoman.png', alt: '65歳以上 女性', class: 'patient-icon' %>
          <% end %>
        <% end %>
      </div>

      <div class="patient-details">
        <p>患者ID: <span><%= @patient.number %></span></p>
        <p>患者名: <span><%= @patient.name %></span></p>
        <p>生年月日: <span><%= @patient.birthday.strftime('%Y年%m月%d日') %></span></p>
        <p>年齢: <span><%= (Date.today.year - @patient.birthday.year) - ((Date.today.month > @patient.birthday.month || (Date.today.month == @patient.birthday.month && Date.today.day >= @patient.birthday.day)) ? 0 : 1) %>歳</span></p>
        <p>性別: <span><%= @patient.gender.name %></span></p>
        <p>診療科: <span><%= @patient.department.name %></span></p>
        <p>病棟: <span><%= @patient.ward.name %></span></p>
      </div>
    </div>
    
    <!-- 患者カレンダー -->
    <div id="patient-calendar"
     data-schedules="<%= @p_schedules.to_json %>"
     data-patient-id="<%= @patient.id %>"
     data-doctor-id="<%= @doctor.id %>">
    </div>
  </div>

  <!-- 中央のコンテンツ -->
  <div class="center">
    <!-- ToDoリスト -->
    <div class="todo-list">
      <h3>ToDoリスト</h3>
      <%= link_to '➕', new_doctor_patient_task_path(@doctor, @patient), class: 'add-task-button' %>
      
      <table>
        <thead>
          <tr>
            <th>チェック</th>
            <th>タイトル</th>
            <th>職種</th>
            <th>名前</th>
            <th>PHS</th>
            <th>内容</th>
            <th>編集</th> <!-- 編集ボタン用のヘッダ -->
            <th>削除</th> <!-- 削除ボタン用のヘッダ -->
          </tr>
        </thead>
        <tbody>
          <% @doctor.tasks.each do |task| %>
          <tr>
            <td>
            <input type="checkbox" <%= 'checked' if task.completed %> disabled>
          </td>
          <td><%= Title.find(task.title_id).name if task.title_id.present? %></td> 
          <td><%= Occupation.find(task.occupation_id).name if task.occupation_id.present? %></td> 
          <td><%= task.name %></td>
          <td><%= task.phone_number %></td>
          <td><%= task.content %></td>
          <!-- 編集ボタン -->
        <td>
          <%= link_to '編集', edit_doctor_patient_task_path(@doctor, @patient, task), class: 'edit-task-button' %>
        </td>

        <!-- 削除ボタン -->
        <td>
          <%= link_to '削除', doctor_patient_task_path(@doctor, @patient, task), 
                      method: :delete, 
                      data: { turbo_method: :delete },
                      class: 'delete-task-button' %>
        </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 右側のコンテンツ -->
  <div class="right-side">
    <!-- タイムスケジュール -->
    <div class="time-schedule">
      <h3>主治医</h3>
      <%= link_to doctor_path(@patient.doctor), class: 'doctor-info-link' do %>
        <div class="doctor-info">
          <p>医師名: <span><%= @patient.doctor.name %></span></p>
          <p>診療科: <span><%= @patient.doctor.department.name %></span></p>
          <p>PHS番号: <span><%= @patient.doctor.phone_number %></span></p>
        </div>
      <% end %>
    </div>

    <!-- 医者のカレンダー -->
    <h3>主治医カレンダー</h3>
    <div id="doctor-calendar"></div>
  </div>
</div>
