<%= form_with(model: @doctor_schedule, url: doctor_doctor_schedules_path(@doctor), local: true) do |form| %>
  <div class="field">
    <%= form.label :start_at, "開始時間" %>
    <%= form.datetime_local_field :start_at, value: @doctor_schedule.start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at, "終了時間" %>
    <%= form.datetime_local_field :end_at, value: @doctor_schedule.end_at %>
  </div>

  <!-- DoctorTypeのセレクトボックス -->
  <div class="field">
    <%= form.label :doctor_type_id, "医師タイプ" %>
    <%= form.collection_select :doctor_type_id, DoctorType.all, :id, :name, prompt: '選択してください' %>
  </div>

  <!-- hidden_field_tag で 'from' と 'patient_id' を送信 -->
  <%= hidden_field_tag :from, @from %>
  <%= hidden_field_tag :patient_id, @patient_id %>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
