<%= form_with model: [@doctor, @patient, @patient_schedule], method: :patch do |f| %>
  <!-- 既存の編集フォーム -->
  <div class="field">
    <%= f.label :開始日 %>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :終了日 %>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :予定 %>
    <%= f.collection_select :patient_type_id, PatientType.all, :id, :name %>
  </div>
  
  <div class="actions">
    <%= f.submit "更新" %>
  </div>

<%= button_to "削除", doctor_patient_patient_schedule_path(@doctor, @patient, @patient_schedule), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-button" %>

<% end %>

