<%= form_with model: [@doctor, @patient, @patient_schedule], method: :patch do |form| %>
  <!-- 既存の編集フォーム -->
  <div class="field">
    <%= form.label :開始日 %>
    <%= form.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= form.label :終了日 %>
    <%= form.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= form.label :予定 %>
    <%= form.collection_select :patient_type_id, PatientType.all, :id, :name %>
  </div>
  
  <div class="actions">
    <%= form.submit "更新", class: 'btn btn-update' %>
    <%= link_to "削除", doctor_patient_patient_schedule_path(@doctor, @patient, @patient_schedule), 
                method: :delete, data: { turbo_method: :delete }, class: "delete-button" %>
    <%= link_to "キャンセル", doctor_patient_path(@doctor, @patient) , class: 'btn btn-cancel'%>
  </div>
<% end %>


