<h1>患者の新規予定作成</h1>
<div class="form-body">
  <%= form_with(model: @patient_schedule, url: doctor_patient_patient_schedules_path) do |form| %>
    <div>
      <%= form.label :start_at, "開始日時" %>
      <%= form.datetime_local_field :start_at, 
          value: "#{@selected_date}T00:00", 
          min: "#{@selected_date}T00:00", 
          max: "#{@selected_date}T23:59"%>
    </div>
    
    <div>
      <%= form.label :end_at, "終了日時" %>
      <%= form.datetime_local_field :end_at, 
          value: "#{@selected_date}T01:00", 
          min: "#{@selected_date}T00:00", 
          max: "#{@selected_date}T23:59"%>
    </div>
    
    <div>
      <%= form.label :patient_type_id, "予定" %>
      <%= form.collection_select :patient_type_id, PatientType.all, :id, :name, {}, {class:"patient_type_select"} %> 
    </div>

    <div class="actions">
      <%= form.submit "登録" %>
      <%= link_to "キャンセル", doctor_patient_path(@doctor, @patient) , class: 'btn btn-cancel'%>

    </div>
  <% end %>
</div>

